.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.login-container {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  display: flex;
}

.login-image {
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

}

.login-form {
  padding: 40px;
}

.login-icon {
  height: 7rem;
}

.login-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group-text {
  background-color: #fff;
}

.form-control {
  border-radius: 10px;
}

.error-message {
  color: #ff0000;
  font-weight: bold;
}
